*{margin:0;padding: 0;box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
:root {
    --primary: #029adb;
    --secondary: aliceblue;
  }
html{
  font-size: 10px;
}
.mainContainer{
   background-color: black;
   width: 100vw;
   height: 100vh; 
   display: flex;
   flex-direction: column;
   
}
/**********nav bar********************/
.navContainer{
    width: 100vw;
    flex: 8%;
    display: flex;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 1.6rem var(--primary);
    margin-top: 2rem;
}
.navContainer h3{
    flex: 70%;
    margin-left: 2rem;
    font-size: 2.5rem;
    color: var(--secondary);
}
.navContainer nav{
    flex:10%;
}
.navItems {
    margin-right: 2rem;
    text-decoration: none;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--secondary);
    
}
.navActive{
  color: var(--primary);
}
/*********Home*****************/

.tablensearchContainer{
    display: flex;
    flex: 90%;
    margin-top: 2rem;
}
.hometableContainer{
  padding:1rem;
  flex:80%;
  margin: 1rem;
}

/**search*************/
.searchntagsContainer{
    margin: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    flex:30%;
    align-items: center;
}
.searchnsuggContainer{
  position: relative;
}
.viewall{
  position: absolute;
  right:2rem;
  top:1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--secondary);
}
.viewall:hover{
  color: var(--primary)
}

.searchntagsContainer input{
  background: transparent;
  width: 30rem;
  border: 0;
  font-size: 2rem;
  color: var(--secondary);
  border: 0.2rem solid var(--primary);
  border-radius: 2rem;
  outline: none;
  padding: 1rem;
}   

.headFiltertag{
  font-size: 2.5rem;
  color: var(--secondary);
  margin-bottom: 3rem;
}

.suggestionsContainer{
    width: 16rem;
    display: flex;
    flex-direction: column;
    list-style-type:none;    
}

.suggestionsContainer > li {
    font-size: 2rem;
    padding: 0.4rem;
    color: var(--primary);
    cursor: pointer;
  }
  .suggestionsContainer > li:hover {
    background-color: var(--secondary);
    border-radius: 2rem;
  }

  /***selected tags*********/

  .addtagContainer{
    margin-top: 18rem;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .addtagContainer h1, input, button{
    margin-bottom: 2rem;
  }

  .addremovebtn:hover{
    cursor: pointer;
  }

  .selectedTagsContainer{
    margin-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      
  }
  .tagLookDiv{
    padding: 0.5rem;
    margin: 0.5rem;
  }
.tagLookDiv strong{
    font-size: 2rem;
    color: var(--primary);
    width: max-content;
    border-radius: 0.2rem;
    margin-top: 5rem;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
}
.tagLookDiv strong span{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--secondary);
    align-items: center;
}
.tagLookDiv strong span:hover{
    color: gray;
}
/*****table*******/
.basicTableContainer{
    display: flex;
    justify-content: center;
    flex:50%;
    flex-direction: column;
    align-items: center;
   
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  box-shadow: 0.3rem 0.3rem 1.2rem var(--primary);
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--secondary);
}


table tr:hover {
background-color: rgb(92, 87, 87);
font-weight: bold;
color: var(--primary);
}

table th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  color: var(--secondary);
  font-size: 3rem;

}
td a{
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--secondary);
}
td a:hover{
    cursor: pointer;
    color: var(--primary);
}
.rowTitleOther{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: lightblue;
}
.belowTablediv{
    margin-top: 2rem;
    color: var(--secondary);
}
.belowTablediv span{
    font-size: 2rem;
}
.belowTablediv button{
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    font-size: 2rem;
    color: var(--secondary);
    background-color: transparent;
}
.belowTablediv button:hover{
    cursor: pointer;
}
.gotoPageSpan{
    margin-top: 0.6rem;
    color: var(--secondary);
    font-size: 2rem;
}
.gotoPageSpan input{
    width: 4rem;
}
.filter{
  align-self: end;
  margin-bottom: 2rem;
}
.filter input{
  background: transparent;
  border: 0;
  font-size: 2rem;
  color: #fff;
  border: 0.2rem solid var(--primary);
  border-radius: 2rem;
  outline: none;
  padding: 1rem;
}
/****difficulty select*******/
.tablensearchContainer{
    position: relative;
}
.titlenDiff{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectDiff{
  font-size: 2.2rem;
}

/***********Login****************/
.loginContainer{
  flex:90%;
}

.logh2{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
  }
  
  .login{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--primary);
    padding: 5rem;
  }
  .login-form input{
    margin: 1.5rem;
    width: 15vw;
    height: 5rem;
    border-radius: 3rem;
    border: none;
    padding: 0.6rem 0 0.6rem 1.5rem;
    font-size: 1.8rem;
    background-color: black;
    box-shadow: 0 0.2rem 0.5rem 0 var(--primary);
    color: var(--secondary);
  
  }
  .login-form p{
    font-size: 1.8rem;
    color: var(--secondary);
  }
  
  .login-form button{
    margin: 1.5rem;
    width: 8vw;
    height: 5rem;
    border-radius: 3rem;
    border: none;
    padding: 0.6rem 0 0.6rem 0;
    font-size: 1.8rem;
    background-color: black;
    box-shadow: 0 0.2rem 0.5rem 0 var(--primary);
    color: var(--secondary);
  }
  .login-form button:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  .logPara{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #sp{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }
  #sp:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
.statuslogin{
  color:#06a1cc;
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}
 /*************Dashboard******/
.DashboardContainer{
  flex:90%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Dashboardtable {
  width: 70vw;
}

.dashboaedhead{
  font-size: 5rem;
  text-align: center;
  color: var(--primary);
}

.cellDashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
